NEXT_PUBLIC_SUPABASE_URL=https://ybivczqloamogyoxlunk.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliaXZjenFsb2Ftb2d5b3hsdW5rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3MDg4OTIsImV4cCI6MjA5MDI4NDg5Mn0.hDIHgBT4C1pEdexC7HRynl2UoClTwbsCQ-MDCg51dqU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InliaXZjenFsb2Ftb2d5b3hsdW5rIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDcwODg5MiwiZXhwIjoyMDkwMjg0ODkyfQ.kyNg7sEBcSSqG17r4JrYV557FG4f1vJppwUkKgRpIFM
